.focus img {
  width: 100%;
}
.brief {
  color: #2a2a2a;
}
.brief h2.title {
  font-size: 3.6rem;
  line-height: 10rem;
  margin-top: 6.1rem;
}
.brief .does {
  font-size: 2.1rem;
  line-height: 2.7rem;
}
.brief .content {
  font-size: 1.4rem;
  line-height: 3rem;
  text-indent: 2em;
}
.brief .cont1 {
  margin-top: 2.1rem;
}
.brief .cont2 {
  margin-top: 1rem;
  margin-bottom: 5.9rem;
}
.brief .brief-img {
  margin-top: 23.7rem;
  padding-left: 3rem;
}
