.focus {
    margin-top: 5rem;
    img {
        width: 100%;
    }
}
.brief {
    color: #2a2a2a;
    h2.title {
        font-size: 3.6rem;
        line-height: 10rem;
        margin-top: 6.1rem;
    }
    .does {
        font-size: 2.1rem;
        line-height: 2.7rem;
    }
    .content {
        font-size: 1.4rem;
        line-height: 3rem;
        text-indent: 2em;
    }
    .cont1 {
        margin-top: 2.1rem;
    }
    .cont2 {
        margin-top: 1rem;
        margin-bottom: 5.9rem;
    }
    .brief-img {
        margin-top: 23.7rem;
        padding-left: 3rem;
    }
}
.recruit {
    padding-bottom: 7.7rem;
    background-color: #8cc11f;
    .title {
        margin-top: 6.2rem;
        font-size: 3.6rem;
        color: #fff;
        line-height: 14.1rem;
    }
    p {
        font-size: 1.6rem;
        color: #fff;
    }
    .txt1 {
        line-height: 3rem;
    }
    .txt2 {
        line-height: 5rem;
    }
    .email {
        line-height: 3rem;
    }
    p.ts {
        line-height: 7rem;
    }
    p.ts a {
        display: block;
        width: 21.9rem;
        line-height: 4.8rem;
        text-align: center;
        height: 4.8rem;
        font-size: 2.4rem;
        color: #8cc11f;
        background-color: #fff;
        margin: 1.1rem 0;
    }
    .rec-email {
        padding-left: 3.6rem;
        margin-top: 20.3rem;
    }
    .text3 {
        line-height: 2.6rem;
    }
}
.engine {
    ul {
        padding-left: 2.3rem;
    }
    .line{
        padding-bottom: 5.6rem;
        border-bottom: 1px solid #d2d2d2;
    }
    h3.title{
        font-size: 2.6rem;
        color: #8cc11f;
        line-height: 9.6rem;
        margin-top: 8.7rem;
    }
    .describe-title {
        line-height: 2.8rem;
        color: #2a2a2a;
        font-size: 1.8rem;
    }
    .describe {
        margin-bottom: .2rem;
    }
    li {
        font-size: 1.4rem;
        color: #2a2a2a;
        line-height: 3.4rem;
    }
    .title2 {
        color: #2a2a2a;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
    .ask {
        font-size: 1.4rem;
        color: #2a2a2a;
        line-height: 2.8rem;
    }
}
.eng {
    .line {
        border-bottom: 0  !important;
    }
}
.contact {
    background-color: #f4f4f4;
    padding-bottom: 6.2rem;
    p.title {
        color: #2a2a2a;
        font-size: 3.6rem;
        line-height: 11.4rem;
        margin-top: .4rem;
    }
    .contact1 {
        width: 48%;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        height: 10.1rem;
        background: #fff url(../images/contact_pic1.png) no-repeat 2rem 1.1rem;
        .txt {
            font-size: 1.4rem;
            color: #2a2a2a;
            margin-top: 3.6rem;
            margin-left: 10rem;
        }
    }
    .box22 {
        margin-top: 1rem;
    }
    .box3 {
        margin-right: 3rem;
    }
    .boxs2 {
        background: #fff url(../images/contact_pic2.png) no-repeat 2rem 1.1rem;
    }
    .boxs3 {
        background: #fff url(../images/contact_pic3.png) no-repeat 2rem 1.1rem;
    }
    .boxs4 {
        background: #fff url(../images/contact_pic4.png) no-repeat 2rem 1.1rem;
    }
}


.wapper .footer .content .img ul li .wechat {
    display: none;
}