.wapper {
    .container {
        margin: auto;
    }
    .header {
        width: 100%;
        height: 5rem;
        background-color: #222;
        .logo {
            margin-left: 5rem;
            a {
                display: block;
                margin-top: .7rem ;
                font-size: 0;
                overflow: hidden;
            }
        }
    }
    .focus img{
        display: block;
        width: 100%;
    }
}