.wapper .focus img {
  display: block;
  width: 100%;
}
.wapper .engine {
  width: 100%;
  padding-top: 8.4rem;
  padding-bottom: 10rem;
  background: #fbfaf8 url('../images/engine_bg.png') no-repeat 81% 13.8rem;
}
.wapper .engine .title {
  margin-left: 6%;
}
.wapper .engine .title h2 {
  line-height: 8.6rem;
  font-weight: bold;
  font-size: 4.8rem;
  color: #0078d7;
}
.wapper .engine .title h3 {
  line-height: 7rem;
  font-size: 3rem;
  color: #666;
}
.wapper .engine .engine_ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 6%;
  margin-top: 5.7rem;
}
.wapper .engine .engine_ul li {
  margin-bottom: 4rem;
}
.wapper .engine .engine_ul li .li_img {
  padding: 0 1.2rem;
}
.wapper .engine .engine_ul li .li_div h4 {
  color: #333;
  font-size: 2rem;
  line-height: 2.4rem;
}
.wapper .engine .engine_ul li .li_div p {
  margin-top: 0.8rem;
  line-height: 2.4rem;
  font-size: 1.4rem;
  color: #666;
}
.wapper .adv {
  width: 100%;
  padding-top: 6.3rem;
  padding-bottom: 8.9rem;
  background: url('../images/adv_bg.png') no-repeat 15% 18.9rem;
  border-top: 1px solid #eaeaee;
}
.wapper .adv .title {
  margin-left: 45%;
}
.wapper .adv .title h2 {
  font-size: 4.8rem;
  font-weight: bold;
  color: #8fc31f;
  line-height: 14.8rem;
}
.wapper .adv .title ul li {
  height: 5.4rem;
  line-height: 5.4rem;
  text-indent: 7rem;
  margin-bottom: 1.6rem;
}
.wapper .adv .title ul li:first-child {
  background: url('../images/adv_pic1.png') no-repeat 0.6rem center;
}
.wapper .adv .title ul li:nth-child(2) {
  background: url('../images/adv_pic2.png') no-repeat 0.6rem center;
}
.wapper .adv .title ul li:nth-child(3) {
  background: url('../images/adv_pic3.png') no-repeat 0.6rem center;
}
.wapper .adv .title ul li:nth-child(4) {
  background: url('../images/adv_pic4.png') no-repeat 0.6rem center;
}
.wapper .product {
  width: 100%;
  background-color: #0079d7;
  padding-top: 3.4rem;
  padding-bottom: 6.6rem;
}
.wapper .product .title {
  float: none;
  margin: auto;
}
.wapper .product .title h2 {
  line-height: 20.4rem;
  font-size: 4.8rem;
  color: #fffefe;
  text-align: center;
}
.wapper .product .content {
  float: none;
  margin: auto;
}
.wapper .product .content ul {
  display: flex;
  flex-wrap: wrap;
}
.wapper .product .content ul li {
  margin-bottom: 7.3rem;
}
.wapper .product .content ul li .li_img {
  padding: 0.7rem 2rem;
}
.wapper .product .content ul li .li_div h4 {
  line-height: 2.6rem;
  font-size: 3.2rem;
  color: #fffefe;
}
.wapper .product .content ul li .li_div p {
  color: #fffefe;
  font-size: 1.4rem;
  line-height: 2em;
  margin-top: 1.5rem;
}
.wapper .game {
  width: 100%;
  padding-top: 3.7rem;
  padding-bottom: 3.8rem;
}
.wapper .game .content {
  width: 68%;
  margin: 0 auto;
  float: none;
}
.wapper .game .content .video video {
  border-radius: 5px;
  object-fit: fill;
  height: 20rem;
}
.wapper .game .content .title {
  font-size: 3.4rem;
  color: #2a2a2a;
  line-height: 13.2rem;
}
.wapper .game .content .more {
  line-height: 11.8rem;
  text-align: right;
  padding-right: 1rem;
}
.wapper .game .content .more a {
  font-size: 1.4rem;
  color: #2a2a2a;
}
.wapper .game .content ul {
  display: flex;
  flex-wrap: wrap;
}
.wapper .game .content ul li {
  float: none;
  margin-bottom: 0.9rem;
  text-align: center;
  padding: 0 1rem;
}
.wapper .game .content ul li img {
  width: 100%;
}
.wapper .game .content ul li p {
  font-size: 1.4rem;
  color: #2a2a2a;
  line-height: 1.43em;
}
.wapper .partner {
  width: 100%;
  background-color: #f4f4f4;
  padding-top: 0.8rem;
  padding-bottom: 4.4rem;
}
.wapper .partner .content {
  width: 68%;
  margin: auto;
  float: none;
}
.wapper .partner .content p {
  font-size: 3rem;
  line-height: #2a2a2a;
  line-height: 9.4rem;
}
.wapper .partner .content p span {
  font-size: 1.2rem;
  color: #777;
}
.wapper .partner .content ul {
  width: 102%;
}
.wapper .partner .content ul li {
  padding: 0;
  margin-bottom: 2rem;
  padding-right: 1.5%;
}
.wapper .partner .content ul li img {
  width: 100%;
}
